.place__button {
	margin: 8px 16px 16px;
	width: 288px;
	height: 48px;
	background: #0278FE;
	border-radius: 4px;
}

.place__button:hover {
	background: #0063D2;
}

@media screen and (min-width: 768px) {
	.place__button {
		padding: 0;
		grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
		width: 355px;
		height: 48px;
	}
}