.place__paragraph2 {
	margin: 0 auto;
	padding: 0 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 163%;
	color: #FFFFFF;
	padding-top: 7px;
}

@media screen and (min-width: 768px) {
	.place__paragraph2 {
		padding: 0;
		grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
	}
}

@media screen and (min-width: 1280px) {
	.place__paragraph1{
		font-size: 18px;
	}
}