.lead__subtitle {
	color: #ffffff;
	margin: 0 auto;
	padding-bottom: 40px;
	width: 288px;
	height: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}