.place__paragraph1 {
	margin: 0 auto;
	padding: 0 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 163%;
	color: #FFFFFF;
}

@media screen and (min-width: 768px) {
	.place__paragraph1{
		padding: 0;
	}
}

@media screen and (min-width: 1280px) {
	.place__paragraph1{
		font-size: 18px;
	}
}