.place {
	width: 320px;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.place {
		display: grid;
		grid-template-columns: 346px 346px;
		grid-template-rows: 5fr;
		align-self: start;
		grid-column-gap: 28px;
		grid-row-gap: 11px;
	}
}

@media screen and (min-width: 1280px) {
	.place {
		grid-template-columns: 472px 472px;
		grid-template-rows: 5fr;
		align-self: start;
		grid-column-gap: 40px;
		grid-row-gap: 17px;
}
}